{# templates/homepage/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la Page d'Accueil{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}



  <div class="container">
        <h1>Bienvenue sur jeux Vidéos !</h1>
        <p>
            C'est ici que vous pouvez découvrir une collection incroyable de jeux vidéo passionnants. 
            Que vous soyez un fan de jeux d'action, de jeux de rôle, de jeux de stratégie ou de jeux de simulation, 
            vous trouverez ici quelque chose qui vous passionnera.
        </p>
        <p>
            N'hésitez pas à explorer notre catalogue et à ajouter vos jeux préférés à votre collection personnelle.
            Inscrivez-vous dès aujourd'hui pour accéder à des fonctionnalités exclusives et discuter avec d'autres joueurs
            partageant les mêmes intérêts.
        </p>
    </div>
{% endblock %}